numpy==1.26.3
scipy==1.14.1
tensorboard==2.18.0
numba==0.60.0
pytorch-lightning==2.4.0
gradio==5.9.0
pypinyin==0.53.0
pyopenjtalk==0.3.4
torchaudio==2.5.1
sentencepiece==0.2.0
transformers==4.47.0
tqdm==4.67.1
torchsummary==1.5.1
requests==2.32.3
jieba==0.42.1
jieba_fast==0.53


